/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.block { display: block !important; }
.hidden { display: none !important; }
.inline-block { display: inline-block !important; }
.error { color: #c60f13; }
.visible { opacity: 1; }
.invisible { opacity: 0; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

.row { width: 1000px; }

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Crimson Text', serif;*/
    color: #222;
}

input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 !important;
    outline: thin dotted 9px !important;
}

/* -----------------------------------------
   HEADER & FOOTER STYLES
----------------------------------------- */

header h1 {
    display: inline-block;
    font-weight: 500;
}

header #hello {
    color: #fff;
    font-size: 27px;
    position: relative;
    left: 12px;
}

header #right_nav {
    position: absolute;
    right: 15px;
    top: 25px;
}

header #right_nav i {
    position: relative;
    padding-right: 4px;
    top: 1px;
}

footer {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

/* -----------------------------------------
   LOGIN STYLES
----------------------------------------- */

#login .columns {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #E9E9E9;
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#login h2 {
    text-align: center;
    font-weight: 500;
}

#login li { list-style-type: none; }
#login ul.errorlist {
    color: red;
    font-style: bold;
}

#login input[type=submit] {
    width: 120px;
    margin-top: 10px;
    margin-left: 50%;
    left: -60px;
}

/* -----------------------------------------
   MAIN STYLES
----------------------------------------- */

#eco #rating {
    text-align: center;
    border: 1px solid #A0A0A0;
    height: 280px;
    padding: 30px 0;
}

#eco #rating h1 {
    font-size: 100px;
    color: #299A41;
}

#eco #rating h3 {
    font-size: 40px;
}

#eco #detail {
    padding-top: 10px;
    border: 1px solid #A0A0A0;
    height: 280px;
}

#eco #detail .circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-right: 25px;
    position: relative;
    top: 12px;
}

#eco #detail .green {
    background-color: #299A41;
}

#eco #detail .red {
    background-color: #DE001E;
}

#eco #detail h3 {
    font-size: 40px;
    padding-left: 130px;
    line-height: 1.3;
}

#eco #leaderboard {
    border: 1px solid #A0A0A0;
    padding: 20px 50px;
}

#eco #leaderboard h1 {
    line-height: 1.3;
}

#eco #leaderboard h1 .light {
    font-weight: 300;
    margin-left: 20px;
}

#eco #leaderboard h1 .green {
    color: #299A41;
}



.top-wrapper {
    background-color: #EF4322;
}

.top-wrapper h1 {
    color: white;
    font-weight: 900;
}

.main-wrapper {
    background-image: url(http://www.drivethecars.net/images2/Volkswagen-Passat_R36_2007_photo_03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.55;
    height: 800px;
}

#main {
      /* fallback */
    height: 800px;
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, rgba(47, 39, 39, 0.2), rgba(26, 0, 0, 0.9));

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);

  /* Opera cannot do radial gradients yet */
    position: relative;
    top: -800px;
    text-align: center;
}

#main h1 {
    margin-top:250px;
    color: #fff;
    font-size: 100px;
}



/* END SPACING */