{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block bodyid %}dashboardbody{% endblock %}

{% block content %}



<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <div class="row">
            <div class="span2">
                <a class="brand" href="/">OmniDrive</a>
            </div>
            <div class="span4 offset6 last">
                <span class="brand">{{ facebook_profile.name }}
                    <img src="http://graph.facebook.com/{{ facebook_profile.username }}/picture" />
                </span>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="dashboard" class="container overview active">
    <div class="row">
        <div class="span12">

            <h1>Website Analytics</h1>
            <h2>Total Users - 10</h2>
            <h2>Total Ask for OBDII - 2</h2>

            <br>
            <h1>Mobile Analytics</h1>
            <h2>Total Users - 5</h2>
            <h2>Total Drives - 8</h2>

        </div>
    </div>
</div>



{% endblock %}