{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block bodyid %}dashboardbody{% endblock %}

{% block content %}



<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <div class="row">
            <div class="span2">
                <a class="brand" href="/">OmniDrive</a>
            </div>
            <div class="span4 offset6 last">
                <span class="brand">{{ facebook_profile.name }}
                    <img src="http://graph.facebook.com/{{ facebook_profile.username }}/picture" />
                </span>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="sidebar">
    <ul>
        <a href="#overview"><li class="active" id="overview">Overview</li></a>
        {# <a href="#recent"><li id="recent">Recent</li></a> #}
        {# <a href="#replay"><li id="replay">Replay</li></a> #}
        {# <a href="#economic"><li id="economic">Economic</li></a> #}
        <a href="#social"><li id="social">Social</li></a>
        <a href="#rewards"><li id="rewards">Rewards</li></a>
    </ul>
</div>


<div id="dashboard" class="container overview active">
    <div class="row">
        <div class="span8">
            <div id="latest_trip">
                <div class="row header">
                    <div class="span3">
                        <h2>RECENT TRIP</h2>
                    </div>
                    <div class="span2 offset2">
                        <h2 style="color:rgba(255, 255, 255, 0.7)">{{last_trip_date.strftime('%m/%d/%Y')}}</h2>
                    </div>
                </div>
                <div class="row data">
                    <div class="half">
                        <h2>Total Miles</h2>
                        <h3><span class="score">42.31 <small>miles</small></span></h3>
                    </div>
                    <div class="half">
                        <h2>Trip Length</h2>
                        <h3><span>50 <small>min</small> 10 <small>sec</small></span></h3>
                    </div>
                    <div class="half">
                        <h2>Fuel Used</h2>
                        <h3><span>32.12 <small>gal</small></span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div id="eco-score">
                <div class="row header">
                    <div class="span4">
                        <h2>ECO-SCORE</h2>
                    </div>
                </div>
                <div class="row data">
                    <h2><span class="score">88</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div id="averages">
        <div class="row header">
            <div class="span3">
                <h2>AVERAGE DATA</h2>
            </div>
            <div class="span5 offset3" style="text-align: right">
                <h2 style="color:rgba(255, 255, 255, 0.7)">{{fb.created_at.strftime('%m/%d/%Y')}} - {{today.strftime('%m/%d/%Y')}}</h2>
            </div>
        </div>
        <div class="row data">
            <div class="half">
                <h2>Average Speed</h2>
                <h3><span>{{avg_speed}} <small>mph</small></span></h3>
                <div class="donut donut-big reverse">
                    <div class="donut-arrow" data-percentage="30"></div>
                </div>
            </div>
            <div class="half">
                <h2>Average MPG</h2>
                <h3><span>{{fb.average_mpg}} <small>mpg</small></span></h3>
                <div class="donut donut-big reverse">
                    <div class="donut-arrow" data-percentage="80"></div>
                </div>
            </div>
        </div>
    </div>

</div>

{# <div id="dashboard" class="container recent">

    <div id="latest_trip">
        <div class="row header">
            <div class="span3">
                <h2>RECENT TRIP</h2>
            </div>
            <div class="span5 offset3" style="text-align: right">
                <h2 style="color:rgba(255, 255, 255, 0.7)">{{last_trip_date.strftime('%m/%d/%Y')}}</h2>
            </div>
        </div>
        <div class="row data">
            <div class="half">
                <h2>Total Miles</h2>
                <h3><span class="score">42.31 <small>miles</small></span></h3>
            </div>
            <div class="half">
                <h2>Trip Length</h2>
                <h3><span>50 <small>min</small> 10 <small>sec</small></span></h3>
            </div>
            <div class="half">
                <h2>Fuel Used</h2>
                <h3><span>32.12 <small>gal</small></span></h3>
            </div>
        </div>
    </div>

    <div id="map-canvas"></div>
</div> #}

{# <div id="dashboard" class="container economic">

    <div id="eco-score">
        <div class="row header">
            <div class="span3">
                <h2>ECO-SCORE</h2>
            </div>
            <div class="span5 offset3" style="text-align: right">
                <h2 style="color:rgba(255, 255, 255, 0.7)">02/01/2013 - 02/28/2013</h2>
            </div>
        </div>
        <div class="row data">
            <h2><span class="score">88</span></h2>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="span12">
            <canvas id="myChart" width="940" height="400"></canvas>
        </div>
    </div>
</div> #}



<div id="dashboard" class="container social">

    <div class="leaderboard">
        <div class="row header">
            <div class="span6">
                <h2>LEADERBOARD</h2>
            </div>
        </div>
        <div class="row header">
            <div class="span1">
                <h3>Rank</h3>
            </div>
            <div class="span4">
                <h3>Friend</h3>
            </div>
            <div class="span3">
                <h3>Ecoscore</h3>
            </div>
            {# <div class="span5"></div> #}
        </div>
        {% for f in friends|sort(attribute='highscore', reverse=True) %}
            <div class="row data">
                <div class="span1">
                    <div class="number"><span>{{loop.index}}</span></div>
                </div>
                <div class="span4">
                    <img src="http://graph.facebook.com/{{ f.username }}/picture" />
                    <h3 class="name">{{ f.first_name }}</h3>
                </div>
                <div class="span3">
                    <h3>{{f.highscore|floatformat}}</h3>
                </div>
                <div class="span3"></div>
                <div class="span2">
                    {% if f.first_name != facebook_profile.name %}
                        <a href="#myModal" role="button" class="btn" data-toggle="modal">Challenge</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">How many coins would you like to bet?</h3>
  </div>
  <div class="modal-body">
    <form action="">

        <input type="number" placeholder="10">

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-success">Challenge</button>
  </div>
</div>

<div id="redeemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="redeemModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="redeemModalLabel">Redeeming Gift Card</h3>
  </div>
  <div class="modal-body">
    <p>Please email kevin@imkevinxu.com to redeem your gift card.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

{# <div id="dashboard" class="container replay">

       <div class="row">
        <div class="span8">
            <div id="latest_trip">
                <div class="row header">
                    <div class="span3">
                        <h2>RECENT TRIP</h2>
                    </div>
                    <div class="span2 offset2">
                        <h2 style="color:rgba(255, 255, 255, 0.7)">{{last_trip_date.strftime('%m/%d/%Y')}}</h2>
                    </div>
                </div>
                <div class="row data">
                    <div class="half">
                        <h2>Current Speed</h2>
                        <h3><span class="score" id="totalmilesreplay">42.31</span> <small>KPH</small></h3>
                    </div>
                    <div class="half">
                        <h2>Trip Length</h2>
                        <h3><span id="secondsreplay">0</span> <small>sec</small></h3>
                    </div>
                    <div class="half">
                        <h2>Fuel Used</h2>
                        <h3><span id="fuelreplay">32.12</span> <small>litres</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div id="eco-score">
                <div class="row header">
                    <div class="span4">
                        <h2>ECO-SCORE</h2>
                    </div>
                </div>
                <div class="row data">
                    <h2><span class="score" id="ecoscorereplay">88</span></h2>
                </div>
            </div>
        </div>
    </div>

</div> #}

<div id="dashboard" class="container rewards">

       <div class="row">
        <div class="span12">
            <div id="latest_trip">
                <div class="row header">
                    <div class="span3">
                        <h2>REWARDS</h2>
                    </div>
                    <div class="span2 offset6">
                        <h2 style="color:rgba(255, 255, 255, 0.7); text-align: right">{{fb.coins}} Coins</h2>
                    </div>
                </div>

                <div class="row header">
                    <div class="span4">
                        <h3 style="font-weight: 300">Prize</h3>
                    </div>
                    <div class="span3">
                        <h3 style="font-weight: 300">Coins to redeem</h3>
                    </div>
                    {# <div class="span5"></div> #}
                </div>
                <div class="row data">
                    <div class="span4">
                        <h2>$5 Gift Card</h2>
                        <h2><img src="{{ MEDIA_URL }}images/card.png" alt=""></h2>
                    </div>
                    <div class="span3">
                        <h2>50 Coins</h2>
                    </div>
                    <div class="span2" style="padding-top: 20px">
                        <a href="#redeemModal" role="button" class="btn" data-toggle="modal">Redeem</a>
                    </div>
                </div>
                <div class="row data">
                    <div class="span4">
                        <h2>$10 Gift Card</h2>
                        <h2><img src="{{ MEDIA_URL }}images/card.png" alt=""></h2>
                    </div>
                    <div class="span3">
                        <h2>90 Coins</h2>
                    </div>
                    <div class="span2" style="padding-top: 20px">
                        <a href="#redeemModal" role="button" class="btn" data-toggle="modal">Redeem</a>
                    </div>
                </div>
                <div class="row data">
                    <div class="span4">
                        <h2>$20 Gift Card</h2>
                        <h2><img src="{{ MEDIA_URL }}images/card.png" alt=""></h2>
                    </div>
                    <div class="span3">
                        <h2>180 Coins</h2>
                    </div>
                    <div class="span2" style="padding-top: 20px">
                        <a href="#redeemModal" role="button" class="btn" data-toggle="modal">Redeem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block javascript %}





<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript">
    var map
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.446, -122.210),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);


      var ecos = {{ecoscore}};
      var totals = {{totals}};
      var fuels = {{fuels}};
    </script>




{% endblock %}
