{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{#     {% if user.is_authenticated %}
        <h2>You are logged in as: {{ user }}</h2>
        <a href="/logout">Logout</a>
        <hr />
        <h2>User info</h2>
        <img src="http://graph.facebook.com/{{ user.get_profile.facebook_id }}/picture" /><br />
        <!--<pre>{{ facebook_profile|pprint }}</pre>-->
    {% else %}
        <a href="/facebook/login">Login via Facebook</a>
    {% endif %} #}

{% block content %}

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">OmniDrive</a>
    </div>
  </div>
</div>

<div class="hero">
    <div class="container">
        <div class="row">
            <div class="span12">

                <h1>Your Personal Driving Assistant</h1>
                <a href="/facebook/login" class="btn btn-primary btn-large">Login via Facebook</a>

                {# <a href="/mariokart" class="btn btn-primary btn-large">Login via Facebook</a> #}

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row center demo">
        <div class="span4">
            <img src="{{ MEDIA_URL }}images/illustrations/book.png" alt="">
            <h2>Car Analytics</h2>
            <p>Connect OmniDrive to your car and automatically collect all your driving data to view on a beautiful dashboard</p>
        </div>
        <div class="span4">
            <img src="{{ MEDIA_URL }}images/illustrations/map.png" alt="">
            <h2>Personal Driving Map</h2>
            <p>See a map of all the places you've driven along with personalized heat maps of traffic and scenic places to visit</p>
        </div>
        <div class="span4">
            <img src="{{ MEDIA_URL }}images/illustrations/clipboard.png" alt="">
            <h2>Become a greener driver</h2>
            <p>Compete with your friends for badges to see who is the most greenest driver!</p>
        </div>
    </div>
    <br>
    <div class="row center">
        <div class="span12">
            <h4>*Demo*: If you would like to get an OBDII port to access the real data from your car, please email kevin@imkevinxu.com</h4>
        </div>
    </div>
</div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <h3 class="footer-title">&copy; Team Totoro 2013</h3>
            <p>In partnership with <a href="http://www.vw.com/" target="_blank">Volkswagen</a> and <a href="http://www.stanford.edu/class/cs210/" target="_blank">Stanford CS 210</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}

{% block javascript %}{% endblock %}
